:root {
	--animation-duration: 0.75s;
	--animation-easing: ease-in;
  }
  
  .box-blue-300 {
	animation: Box-fade-Blue-300 var(--animation-duration) var(--animation-easing);
  }
  
  @keyframes Box-fade-Blue-300 {
	0% {
	  @apply bg-blue-100 !important;
	}
	50% {
	  @apply bg-blue-200 !important;
	}
	100% {
	  @apply bg-blue-300 !important;
	}
  }
  
  .box-blue-500 {
	animation: Box-fade-Blue-500 var(--animation-duration) var(--animation-easing);
  }
  
  @keyframes Box-fade-Blue-500 {
	0% {
	  @apply bg-blue-300 !important;
	}
	50% {
	  @apply bg-blue-400 !important;
	}
	100% {
	  @apply bg-blue-500 !important;
	}
  }
  
  .box-blue-700 {
	animation: Box-fade-Blue-700 var(--animation-duration) var(--animation-easing);
  }
  @keyframes Box-fade-Blue-700 {
	0% {
	  @apply bg-blue-500 !important;
	}
	50% {
	  @apply bg-blue-600 !important;
	}
	100% {
	  @apply bg-blue-700 !important;
	}
  }
  
  .box-indigo-300 {
	animation: Box-fade-Indigo-300 var(--animation-duration) var(--animation-easing);
  }
  
  @keyframes Box-fade-Indigo-300 {
	0% {
	  @apply bg-indigo-100 !important;
	}
	50% {
	  @apply bg-indigo-200 !important;
	}
	100% {
	  @apply bg-indigo-300 !important;
	}
  }
  
  .box-indigo-500 {
	animation: Box-fade-Indigo-500 var(--animation-duration) var(--animation-easing);
  }
  
  @keyframes Box-fade-Indigo-500 {
	0% {
	  @apply bg-indigo-300 !important;
	}
	50% {
	  @apply bg-indigo-400 !important;
	}
	100% {
	  @apply bg-indigo-500 !important;
	}
  }
  
  .box-indigo-700 {
	animation: Box-fade-Indigo-700 var(--animation-duration) var(--animation-easing);
  }
  
  @keyframes Box-fade-Indigo-700 {
	0% {
	  @apply bg-indigo-500 !important;
	}
	50% {
	  @apply bg-indigo-600 !important;
	}
	100% {
	  @apply bg-indigo-700 !important;
	}
  }